<app-header></app-header>
<body class="page__body">
    <section class="main-section">
        <div class="main-section__carousel carousel">
            <app-carousel class="main-carousel" [images]="images"></app-carousel>
        </div>
        <p class="main-section__about about">
            ВСЕМ ГУЧЧИ!!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vitae iure esse praesentium placeat consectetur eveniet, officiis eum doloremque ab alias iusto corrupti, cumque quos!
        </p>
    </section>
</body>
<app-footer></app-footer>
